@using GustoExpress.Web.ViewModels;
@model AllRestaurantViewModel

<form asp-action="Index" asp-controller="Home" method="get">
    <button class="btn btn-light rounded-1" type="submit"><i class="bi bi-arrow-left"></i> Go back</button>
</form>

<div>
    <h1 class="mt-3 fw-bold text-center">
        <svg width="64px" height="64px" viewBox="0 0 52.00 52.00" xmlns="http://www.w3.org/2000/svg" fill="#000000">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <g id="Group_49" data-name="Group 49" transform="translate(-788.946 -1785.428)">
                    <path id="Path_131" data-name="Path 131"
                          d="M814.946,1793.095a24,24,0,0,0-24,24h48A24,24,0,0,0,814.946,1793.095Z" fill="#ffffff"
                          stroke="#0d0c0c" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></path>
                    <line id="Line_51" data-name="Line 51" x2="48" transform="translate(790.946 1825.761)"
                          fill="#ffffff" stroke="#0d0c0c" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="4"></line>
                    <line id="Line_52" data-name="Line 52" y2="5.667" transform="translate(814.946 1787.428)"
                          fill="#ffffff" stroke="#0d0c0c" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="4"></line>
                </g>
            </g>
        </svg>
        GustoExpress
    </h1>
</div>

<form method="get">
    <input type="hidden" name="city" id="city" value="@Model.CityName" />
    <div class="row justify-content-center">
        <div class="form-group col-md-3">
            <label asp-for="SearchString"></label>
            <input asp-for="SearchString" class="form-control" placeholder="...">
        </div>

        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="SortingItems"></label>
                <select asp-for="Sort" class="form-control" asp-items="@Model.SortingItems">
                </select>
            </div>
        </div>

        <div class="col-2 ps-0 mt-4 text-center">
            <button type="submit" asp-action="All" asp-controller="Restaurant" value="Search" class="btn btn-primary"><i class="bi bi-search"></i> Search</button>
        </div>
    </div>
</form>

<section class="my-5">
    <div class="container-lg-7">
        @foreach (var restaurant in Model.Restaurants.Where(r => r.IsDeleted == false))
        {
            <div class="mb-4 row justify-content-center">
                <div class="col-lg-6">
                    <form asp-action="RestaurantPage" asp-controller="Restaurant" asp-route-id="@restaurant.Id.ToString()" method="get">
                        <button type="submit" class="btn card rounded-3 border-0 shadow-lg">
                            <div class="row">
                                <div class="col-8">
                                    <div class="card-body">
                                        <h5 class="card-title fw-bold">@restaurant.Name</h5>
                                        <div class="card-text">
                                            @restaurant.Description
                                        </div> <br />
                                        <i class="bi bi-clock"></i> @restaurant.TimeToDeliver min. <br />
                                        <i class="bi bi-truck"></i> @restaurant.DeliveryPrice lv.
                                    </div>
                                </div>
                                <div class="col-4 d-flex align-items-center">
                                    <img class="img-fluid float-end" src="@restaurant.ImageURL">
                                </div>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        }
    </div>
</section>
