@using GustoExpress.Web.ViewModels;
@model RestaurantPageViewModel

<form asp-action="All" asp-controller="Restaurant" method="get">
    <input type="hidden" name="city" value="@Model.City.CityName" />
    <button class="btn btn-light rounded-1" type="submit"><i class="bi bi-arrow-left"></i> Go back</button>
</form>

<div class="mt-4 row">
    <!-- Restaurant and products -->
    <section class="col-lg-8">
        <div class="container-lg">
            <div class="row rounded container shadow">
                <div class="p-3 col-8">
                    <h1>@Model.Name</h1>
                    <p class="lead">@Model.Description</p>
                    <i class="bi bi-clock"></i> @Model.TimeToDeliver min.
                    <i class="ms-3 bi bi-truck"></i> @Model.DeliveryPrice lv.
                </div>
                <div class="col-4 d-flex align-items-center">
                    <img class="my-3 img-fluid float-end" src="@Model.ImageURL" style="width: 220px">
                </div>
            </div>
        </div>

        <!-- Buttons group for Admin -->
        @if (this.User.IsInRole("Admin"))
        {
            <form>
                <div class="mt-5 ms-3 btn-group" role="group" aria-label="Basic outlined example">
                    <button asp-action="CreateProduct" asp-controller="Product" asp-route-id="@Model.Id" type="submit" class="btn btn-outline-primary">Add product</button>
                    <button asp-action="CreateOffer" asp-controller="Offer" asp-route-id="@Model.Id" type="submit" class="ms-2 btn btn-outline-primary">Add offer</button>
                    <button asp-action="EditRestaurant" asp-controller="Restaurant" asp-route-id="@Model.Id" type="submit" class="ms-2 btn btn-outline-primary">Edit restaurant</button>
                    <button asp-action="DeleteRestaurant" asp-controller="Restaurant" asp-route-id="@Model.Id" onclick="return confirm('Are you sure you want to delete restaurant @Model.Name')" type="submit" class="ms-2 btn btn-outline-primary">Delete restaurant</button>
                </div>
            </form>
        }

        <!-- Offers -->
        @if (Model.Offers.Any())
        {
            <partial name="_OffersPartial" model="@Model" />
            <hr class="mb-5" />
        }

        @if (Model.Products.Any(p => p.IsDeleted == false))
        {
            <partial name="_ProductsPartial" model="@Model" />
        }
        else
        {
            <h1 class="mt-3 text-center">There are no products here!</h1>
        }
    </section>

    <!-- Shopping cart -->
    <section class="col-lg-4">
        <div class="container-lg bg-light">
            <h2 class="text-center">Shopping cart</h2>
            <div class="container my-1 text-center" style="height: 100%;">
                Products
            </div>
        </div>
    </section>
</div>

<partial name="_CreateReviewPartial" model='new CreateReviewViewModel { RestaurantId = Model.Id.ToString() }' />

<partial name="_ReviewsPartial" model="@Model.Reviews" />
