@using GustoExpress.Web.ViewModels;
@model RestaurantPageViewModel

<div class="mt-4 row">
    <!-- Restaurant and products -->
    <section class="col-lg-8">
        <div class="container-lg">
            <div class="row rounded container shadow">
                <div class="p-3 col-8">
                    <h1>@Model.Name</h1>
                    <i class="bi bi-clock"></i> @Model.TimeToDeliver min.
                    <i class="ms-3 bi bi-truck"></i> @Model.DeliveryPrice lv.
                </div>
                <div class="col-4 d-flex align-items-center">
                    <img class="my-3 img-fluid float-end" src="@Model.ImageURL" style="width: 220px">
                </div>
            </div>
        </div>

        <!-- Buttons group for Admin -->
        @if (this.User.IsInRole("Admin"))
        {
            <form>
                <div class="ms-5 mt-5 btn-group" role="group" aria-label="Basic outlined example">
                    <button asp-action="CreateProduct" asp-controller="Product" asp-route-id="@Model.Id" type="submit" class="me-1 btn btn-outline-primary">Add product</button>
                    <button type="button" class="btn btn-outline-primary">Edit restaurant</button>
                </div>
            </form>
        }

        @foreach (var product in Model.Products.Where(p => p.IsDeleted == false))
        {
            <!-- Product -->
            <article class="container mt-5">
                <div>
                    <div class="col-lg-10">
                        <div class="card border-0 shadow-sm" href="#">
                            <div class="row" style="height:150px">
                                <div class="col-7">
                                    <div class="card-body">
                                        <h5 class="card-title fw-bold">@product.Name</h5>
                                        <div class="card-text">
                                            @product.Description
                                        </div> <br />
                                        <i class="bi bi-currency-dollar"></i>@product.Price lv.
                                    </div>
                                </div>
                                <div class="col-3 d-flex align-items-center">
                                    <img class="img-fluid float-end" src="@product.ImageURL">
                                </div>
                                <div class="ms-4 col-1">
                                    <form>
                                        <button class="mt-2 btn rounded-circle border-0 shadow bg-light"><i class="bi bi-plus"></i></button>
                                        @if (this.User.IsInRole("Admin"))
                                        {
                                            <button asp-action="DeleteProduct" asp-controller="Product" asp-route-id="@product.Id" class="my-2 btn rounded-circle border-0 shadow bg-light" onclick="return confirm('Are you sure you want to delete product @product.Name from @Model.Name')"><i class="bi bi-trash3-fill"></i></button>
                                            <button asp-action="EditProduct" asp-controller="Product" asp-route-id="@product.Id" class="mb-2 btn rounded-circle border-0 shadow bg-light"><i class="bi bi-pencil-square"></i></button>
                                        }
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        }
    </section>

    <!-- Shopping cart -->
    <section class="col-lg-4">
        <div class="container-lg bg-light">
            <h2 class="text-center">Shopping cart</h2>
            <div class="container my-1 text-center" style="height: 100%;">
                Products
            </div>
        </div>
    </section>
</div>