@using GustoExpress.Web.ViewModels;
@model RestaurantPageViewModel

<h2 class="ms-3 mt-4">Offers</h2>

@foreach (var offer in Model.Offers.Where(p => p.IsDeleted == false))
{
    <!-- Offer -->
    <article class="mt-2 container">
        <div>
            <div class="col-lg-10">
                <div class="card border-0 shadow-sm">
                    <div class="row" style="height:150px">
                        <div class="col-7">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">@offer.Name</h5>
                                <div class="card-text">
                                    @offer.Description
                                </div> <br />
                                @if (offer.Discount != null && offer.Discount > 0)
                                {
                                    <div class="p-0 container d-flex gap-3">
                                        <p class="text-decoration-line-through"><i class="bi bi-currency-dollar"></i>@offer.Price lv.</p>
                                        <p><i class="bi bi-currency-dollar"></i>@offer.DiscountedPrice lv.</p>
                                    </div>
                                }
                                else
                                {
                                    <p><i class="bi bi-currency-dollar"></i>@offer.Price lv.</p>
                                }
                            </div>
                        </div>
                        <div class="col-3 d-flex align-items-center">
                            <img class="img-fluid float-end" src="@offer.ImageURL">
                        </div>
                        <div class="ms-4 col-1">
                            <form>
                                <button type="submit" class="mt-2 btn rounded-circle border-0 shadow-sm bg-light"><i class="bi bi-plus"></i></button>
                                @if (this.User.IsInRole("Admin"))
                                {
                                    <button asp-action="DeleteOffer" asp-controller="Offer" asp-route-id="@offer.Id" class="my-2 btn rounded-circle border-0 shadow-sm bg-light" onclick="return confirm('Are you sure you want to delete offer @offer.Name from @Model.Name')"><i class="bi bi-trash3-fill"></i></button>
                                    <button asp-action="EditOffer" asp-controller="Offer" asp-route-id="@offer.Id" class="mb-2 btn rounded-circle border-0 shadow-sm bg-light"><i class="bi bi-pencil-square"></i></button>
                                }
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
}