@using GustoExpress.Web.ViewModels;
@using System.Security.Claims;
@model CreateOrderItemViewModel

<form asp-action="RestaurantPage" asp-controller="Restaurant" method="get">
    <input type="hidden" name="id" value="@Model.RestaurantId" />
    <button class="btn btn-light rounded-1" type="submit"><i class="bi bi-arrow-left"></i> Go back</button>
</form>

<div>
    <h1 class="mt-3 fw-bold text-center">
        <svg width="64px" height="64px" viewBox="0 0 52.00 52.00" xmlns="http://www.w3.org/2000/svg" fill="#000000">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <g id="Group_49" data-name="Group 49" transform="translate(-788.946 -1785.428)">
                    <path id="Path_131" data-name="Path 131"
                          d="M814.946,1793.095a24,24,0,0,0-24,24h48A24,24,0,0,0,814.946,1793.095Z" fill="#ffffff"
                          stroke="#0d0c0c" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></path>
                    <line id="Line_51" data-name="Line 51" x2="48" transform="translate(790.946 1825.761)"
                          fill="#ffffff" stroke="#0d0c0c" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="4"></line>
                    <line id="Line_52" data-name="Line 52" y2="5.667" transform="translate(814.946 1787.428)"
                          fill="#ffffff" stroke="#0d0c0c" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="4"></line>
                </g>
            </g>
        </svg>
        GustoExpress
    </h1>
</div>

<form method="post">
    <div class="mt-5 col-9 card container pt-4">
        @if (Model.Product != null)
        {
            var discount = Model.Product.Discount != null ? Model.Product.Discount : 0;
            var pricePeritem = Model.Product.Price - discount;

            <input type="hidden" asp-for="ProductId" value="@Model.Product.Id" />
            <input type="hidden" asp-for="RestaurantId" value="@Model.Product.RestaurantId" />
            <!-- Product -->
            <div class="card-header ml-0 row justify-content-center">
                <div class="col-12 col-md-6 text-center">
                    <h1>@Model.Product.Name</h1>
                    <p class="text-warning">@Model.Product.Category</p>
                </div>
            </div>
            <div class="card-body row container">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-8 col-lg-8">

                            <div class="row text-center pl-2">
                                <label class="col-2 p-0 text-start" asp-for="Quantity">Quantity:</label>
                                <input id="quantity" class="p-1 border border-0 shadow shadow-sm col-2" type="number" asp-for="Quantity" onchange="getTotalCost(@pricePeritem)" />
                                <span asp-validation-for="Quantity" style="color:red"></span>
                            </div>
                            <div class="mt-1 row text-center pl-2">
                                <label class="col-2 p-0 text-start" asp-for="TotalCost">TotalCost:</label>
                                <input id="totalCost" asp-for="TotalCost" class="p-0 border border-0 col-2 text-start" value="@pricePeritem" readonly />

                            </div>
                            <div class="row pl-2 mt-3">
                                <label class="p-0 text-start" asp-for="Product.Description">Description</label>
                                <p class="text-secondary">@Model.Product.Description</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 offset-lg-1 text-center">
                            <img src="@Model.Product.ImageURL" width="100%" class="rounded" />
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            var discount = Model.Offer.Discount != null ? Model.Offer.Discount : 0;
            var pricePeritem = Model.Offer.Price - discount;

            <input type="hidden" asp-for="OfferId" value="@Model.Offer.Id" />
            <input type="hidden" asp-for="RestaurantId" value="@Model.Offer.RestaurantId" />
            <!-- Offer -->
            <div class="card-header ml-0 row justify-content-center">
                <div class="col-12 col-md-6 text-center">
                    <h1>@Model.Offer.Name</h1>
                    <p class="text-warning">Offer</p>
                </div>
            </div>
            <div class="card-body row container">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-8 col-lg-8">

                            <div class="row text-center pl-2">
                                <label class="col-2 p-0 text-start" asp-for="Quantity">Quantity:</label>
                                <input id="quantity" class="p-1 border border-0 shadow shadow-sm col-2" type="number" asp-for="Quantity" onchange="getTotalCost(@pricePeritem)" />
                                <span asp-validation-for="Quantity" style="color:red"></span>
                            </div>
                            <div class="mt-1 row text-center pl-2">
                                <label class="col-2 p-0 text-start" asp-for="TotalCost">TotalCost:</label>
                                <input id="totalCost" asp-for="TotalCost" class="p-0 border border-0 col-2 text-start" value="@pricePeritem" readonly />
                            </div>
                            <div class="row pl-2 mt-3">
                                <label class="p-0 text-start" asp-for="Offer.Description">Description</label>
                                <p class="text-secondary">@Model.Offer.Description</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 offset-lg-1 text-center">
                            <img src="@Model.Offer.ImageURL" width="100%" class="rounded" />
                        </div>
                    </div>
                </div>
            </div>
        }
        <input type="hidden" asp-for="UserId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
        <div class="card-footer">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 pb-1">
                    <button type="submit" asp-action="CreateItem" asp-controller="OrderItem" class="btn btn-primary form-control" style="height:50px;">Add to Order</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    function getTotalCost(price) {
        var quantity = parseInt(document.getElementById("quantity").value);
        var totalCost = quantity * price;

        if (quantity > 0) {
            document.getElementById("totalCost").value = totalCost.toFixed(2);
        }
    }
</script>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}